<form>
  <h2>Employee Details(total_no_of_employees)</h2>
  <hr>
  <select class="dropdown-style">
    <option value="department">Department</option>
    <option value="Computer">Computer</option>
    <option value="physics">Physics</option>
    <option value="chemistry">Chemistry</option>
  </select>
  <input classs="search-style" type="text" placeholder="Name/Email">
  <button>Search</button>
  <button>Reset or Reload Data</button>
  <select>
    <option value="asc">name(a-z)</option>
    <option value="desc">name(z-a)</option>
    <option value="sort_age">age</option>
    <option value="sort_email">email</option>
  </select>
  <hr>
  <table border="1" id="border-collapse">
    <tr class="text_align">
      <th>Emp Name</th>
      <th>Age</th>
      <th>Email Address</th>
      <th>Departments</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>20</td>
    </tr>
  </table>
</form>
