<form>
  <h2>Employee Details({{this.allEmployees.length}})</h2>
  <hr>

  <select class="dropdown-style" [(ngModel)]= "DepartmentName" (change)= "selectChangeHandler($event)">
    <option value="department" selected>Department</option>
    <option *ngFor= "let dept of DepartmentName ">{{dept}}</option>
  </select>

  <input classs="search-style" name="empName" [(ngModel)]="empField"  type="text" placeholder="Name">

  <button type="button" (click)="Search()">Search</button>

  <button type="button">Reset or Reload Data</button>

  <select [(ngModel)]= "sortByselected" name="sortselect">
    <option *ngFor = "let sort of SortBy" [value]="sort.name">{{sort.name}}</option>
  </select>

  <hr>

  <table border="1" id="border-collapse" *ngIf= "ErrorMessage === null">
    <tr class="text_align">
      <th>Emp Name</th>
      <th>Age</th>
      <th>Email Address</th>
      <th>Departments</th>
    </tr>
    <tr *ngFor= "let employee of allEmployees">
      <td>{{employee.name}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.departments.length}}</td>
    </tr>
  </table>
  <p *ngIf= "ErrorMessage !== null">{{ErrorMessage}}</p>
</form>
