
.dropdown-style{
  border: 2px solid black;
  width: 10%;
}
.search-style{
  margin: 6px;
  width: 11%;
  border: 2px solid black;
}
#border-collapse{
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
}
.text_align{
  text-align: left;
}
.dropdown-style1{
  float: right;
  margin: 8px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 15px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

