.dropdown-style{
  border: 2px solid black;
  width: 10%;
}
.search-style{
  margin: 2px;
}
#border-collapse{
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
}
.text_align{
  text-align: left;
}
